@page "/"

<PageTitle>Home</PageTitle>
@inject SensorState SensorState
@implements IDisposable
@rendermode InteractiveServer
<h1>Hello!</h1>
@* Main System to see current state of the bakery via BME280 sensor's readings *@
<h2>Welcome to your app to control the systems in the Smart Bakery!</h2>
<br />
<h3>Live Sensor Data of BME280(1 d.p)</h3>

@if (SensorState.Latest is null)
{
    <p><em>Waiting for MQTT data…</em></p>
}
else
{
    //getting all of the data to display 
    <div class="sensor-card">
        <div class="sensor-item">
            <span class="label"> Temperature</span>
            <span class="value">@SensorState.Latest.Temperature.ToString("0.0") °C</span>
        </div>

        <div class="sensor-item">
            <span class="label"> Humidity</span>
            <span class="value">@SensorState.Latest.Humidity.ToString("0.0") %</span>
        </div>

        <div class="sensor-item">
            <span class="label"> Pressure</span>
            <span class="value">@SensorState.Latest.Pressure.ToString("0.0") hPa</span>
        </div>

        <div class="sensor-time">
             Updated: @SensorState.Latest.Timestamp.ToLocalTime()
        </div>
    </div>
}
@code {
    // _ is used so that it will be forgotten , a fire and forget method, as the remaining data is not important
    private PeriodicTimer? _timer;
    private CancellationTokenSource? _cts;

    protected override void OnInitialized() //to run the refresh function to continously display new data from the MQTT via subscribing
    {
        _cts = new CancellationTokenSource();
        _timer = new PeriodicTimer(TimeSpan.FromSeconds(1));

        _ = RunUiRefreshLoop(_cts.Token);
    }

    private async Task RunUiRefreshLoop(CancellationToken token) //refresh function updates the page when new data has been received
    {
        while (_timer != null && await _timer.WaitForNextTickAsync(token))
        {
            await InvokeAsync(StateHasChanged);
        }
    }

    public void Dispose() //once current page change, discard variables to prevent overall program from being affected
    {
        try { _cts?.Cancel(); } catch { }
        _timer?.Dispose();
        _cts?.Dispose();
    }
}